#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 1.5rem;
	text-align: center;
}
.navbar {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.navbar li {
	margin-bottom: 20px;
	margin-left: 10px;
}
.poll-alternative {
	display: flex;
	flex-direction: column;
	justify-content: center;
	flex-wrap: wrap;
}
.container {
	min-height: 100vh;
}
.poll-container {
	/* border: dotted white; */
	box-shadow: inset 1px 1px 2px #000000, inset -1px -1px 2px #615d87;
	padding: 10px;
	max-width: 80vw;
	border-radius: 10px;
}

.poll-alternative button {
	word-break: break-word;
}
.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 50vh;
	box-shadow: inset 1px 1px 2px #000000, inset -1px -1px 2px #615d87;
	padding: 10px;
	border-radius: 10px;
}
.poll {
	margin-top: 30px;
}
.message {
	border: dotted white;
	border-radius: 10px;
	margin-bottom: 10px;
}
@media (min-width: 400px) {
	.navbar {
		flex-direction: row;
	}
	.navbar li {
		margin-bottom: 0px;
		margin-left: 10px;
	}
	.poll-alternative {
		flex-direction: row;
		justify-content: center;
	}
}
