#root {
	max-width: 1280px;
	margin: 0 auto;
	padding: 2rem;
	text-align: center;
}
.navbar {
	display: flex;
	align-items: center;
	justify-content: center;
	margin: 0px;
	padding: 0px;
	list-style: none;
}
.poll-alternative {
	display: flex;
	justify-content: center;
}
.navbar li {
	margin-left: 10px;
}
.container {
	min-height: 100vh;
}
.home {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	min-height: 80vh;
}
.form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	min-height: 50vh;
	border: dotted white;
	padding: 10px;
	border-radius: 10px;
}
.form input {
	margin-bottom: 20px;
}
@keyframes logo-spin {
	from {
		transform: rotate(0deg);
	}
	to {
		transform: rotate(360deg);
	}
}

@media (prefers-reduced-motion: no-preference) {
	a:nth-of-type(2) .logo {
		animation: logo-spin infinite 20s linear;
	}
}

.card {
	padding: 2em;
}

.read-the-docs {
	color: #888;
}
